@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$firstFont: 'Inter', sans-serif;

$background: #292727;
$lightGrey: #969696;
$green: #52DF68;
$red: #FF5959;
$grey: #343434;
$line:#4E4D4D;
$white: #FFFFFF;

$displayFontSize: 48; //tamanho em pixels
$buttonFontSize: 36; //tamanho em pixels